@import "../lib/reset.css";
body{
  overflow: hidden;
}
/*个人中心模块*/
.login-module{
  padding: 13px 12px;
  background-color: #229bf1;

}
.login-header-icoin{
  display: block;
  width: 19px;
  height: 35px;
  background: url(../../images/login/images/span-icoin.png)no-repeat -30px -458px;
}
.login-photo{
  box-sizing: border-box;
  width:83px;
  height: 84px;
  margin: 18px auto;
  border: 1px solid #ffffff;
  border-radius: 50%;
  overflow: hidden;
}
.login-photo .photo-box{
  max-width: 83px;
  max-height: 84px;
  display: table-cell;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
.photo-box img{
  width: 83px;
  height: 84px;
  vertical-align: middle;
}
.login-btn{
  text-align: center;
}
.login-btn .btn-login{
    font-size: 1.2rem;
    background-color: #38a5f3;
    box-sizing: border-box;
    display: inline-block;
    padding: 6px 7px;
    color:#ffffff;
    border-radius: 5px;
    border: 1px solid #ffffff;
}



/*个人详情信息*/
.login-list{
    padding: 0 17px;
}
.login-list .list-li{
   box-sizing: border-box;
   display: block;
   color:#787878;
   font-size: 1rem;
   padding: 19px 0;
}
.list-span{
  vertical-align: middle;
  padding-right: 20px;
}
.login-list-one{
  display:inline-block;
  background: url(../../images/login/images/list-icoin.png)no-repeat -3px -4px ;
  width: 15px;
  height: 15px;
}
.login-list-two{
  display:inline-block;
  width: 15px;
  height: 15px;
  background: url(../../images/login/images/list-icoin.png)no-repeat -3px -37px;
}
.login-list-three{
  display:inline-block;
  width: 15px;
  height: 15px;
  background: url(../../images/login/images/list-icoin.png)no-repeat -3px -79px;
}

/*遮罩层*/
/*.login-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.login-footer-content{
  color: #2c85ff;

}
.login-footer-content-two{
  color:#000;
  margin-top: 5px;
}
.login-footer a{
  background-color: #fff;
   display: block;
   text-align: center;
   cursor:pointer;
   padding: 12px 0;
}*/

.login_header{
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid #d6d6d6;
    background: #fff;
}
.login_header_title{
    width: 100%;
    line-height: 4rem;
    font-size: 1.5rem;
    display: block;
    text-align: center;
}
.login_header_back{
    width: 60px;
    height: 4rem;
    background: url("../../images/login/images/back.png") center center no-repeat;
    background-size: 2rem 2rem;
    position: absolute;
    top: 0;
    left:0;
}

.login_form{
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    display: block;
}
.login_logo{
    width: 100%;
    height: 115px;
    background: url("../../images/login/images/logo.png") center no-repeat;
    background-size: 140px 50px ;
}
.login_username_div,.login_password_div{
    width: 100%;
    height: 50px;
    background: #fff;
    border: 1px #e5e5e5 solid;
    box-sizing: border-box;

}
.username_txt ,.password_txt {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    border: none;
    margin-top: 1rem;
    font-size: 1.3rem;
    padding: 0 15px;
    box-sizing: border-box;

}

.username_txt::placeholder,.password_txt::placeholder{
    color: #cccccc;
}
.login_password_div{
    border-top:none;
}

.login_verify_div {
    margin-top: 10px;
    padding-right: 110px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    position: relative;
    /*验证码显示************************/
    display: none;
    /*display: block;*/
}

.verify_left{
    width: 100%;
    height: 50px;
    border: 1px #ececec solid;
    box-sizing: border-box;
}

.login_verify{
    width: 100%;
    height: 48px;
    border: none;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 1.3rem;
}
.login_verify::placeholder{
    color: #cccccc;
}
.verify_img{
    width: 100px;
    height: 50px;
    border: 1px #ececec solid;
    box-sizing: border-box;
    background: #fff;
    position:absolute;
    right: 0 ;
    bottom: 0;
}
.verify_code{
    width: 100px;
    height: 50px;
    font-style:italic;
    font-size: 20px;
    color:red;
    border:1px solid #ececec;
    padding:2px 3px;
    letter-spacing:5px;
    font-weight:bolder;
    background: #fff;
    box-sizing: border-box;
    text-decoration:line-through;
    cursor:pointer;
    text-align: center;
    user-select:none;
}
.login_btn{
    margin-top: 30px;
    width: 100%;
    height: 45px;
    background: #3c76ff;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    border-radius:3px ;
}
.login_hint{
    margin-top: 30px;
    width: 100%;
    font-size: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    color: #999999;
}
.hint_left{
    float: left;
    cursor: pointer;
}
.hint_right{
    float: right;
    cursor: pointer;
}

.login_footer{
    width: 100%;
    height: 46px;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 2rem;
    position: fixed;
    bottom:5%;
}
.login_footer_signin{
    width: 110px;
    height: 45px;
    display: inline-block;
    line-height: 44px;
    color: #367cff;
    border: solid 1px #367cff;
    border-radius:2px ;

}
